section.slide
  h1 Arte Digital para la No Violencia Contra la Mujer
section.slide
  h2 Contenido
  ol 
    li Objetivo del Taller
    li Violencia de Género
      ul 
        li ¿Que es Violencia de Género?
        li Tipos de Violencia de Género
        li Voces de Mujeres afectadas 

    li Diseño Campaña Gráfica
      ul
        li Seleccionando las imágenes
        li Construyendo el Mensaje
        li Edición de Imágenes 
          ul 
            li Tipos de Editores
            li Configuración y Herramientas

    li Comunicando en Red
      ul 
        li Tamaños y Formatos
        li Publicando nuestra obra
