section.slide.fondo1
  h1 Arte Digital para la No Violencia Contra la Mujer
  hr
  h3 Sonia Liliana Cruz [MujerForestal]
  h5 Fundación Casa del Bosque - FOSSchix Colombia
section.slide
  h2 Contenido
  ol 
    li Objetivo del Taller
    li Violencia de Género
      ul.slide
        li ¿Que es Violencia de Género?
        li Tipos de Violencia de Género
        li Voces de Mujeres afectadas 

    li Diseño Campaña Gráfica
      ul.slide
        li Seleccionando las imágenes
        li Construyendo el Mensaje
        li Edición de Imágenes 
          ul.slide
            li Tipos de Editores
            li Configuración y Herramientas

    li Comunicando en Red
      ul.slide
        li Tamaños y Formatos
        li Publicando nuestra obra
section.slide
  h2 Objetivo
  p.slide Aprender a utilizar herramientas tecnológicas libres para promover acciones de sensibilización sobre la Violencia de Género en Colombia.
section.slide
  h2 Violencia de Género
  h3.slide ¿Qué es Violencia de Género?
  p.slide “Violencia contra las mujeres es todo acto de violencia basado en la pertenencia al sexo femenino que tenga,Arte Digital es una disciplina creativa que comprende obras en las que se utilizan elementos digitales en el proceso de producción y/o en su exhibición. 

Este arte no son simples gráficos. No es dependiente sólo de técnicas y ecuaciones matemáticas expresadas en forma de imágenes, sino que es un arte humano, expresión de sensaciones, ideas, búsquedas personales, visiones en forma gráfica y expresadas usando un medio informático como  herramienta. (Técnicas ARTE DIGITAL POR LA PAZ, 2008) o pueda tener como resultado, un daño o sufrimiento físico, sexual o psicológico para las mujeres, inclusive las amenazas de tales actos, la coacción o la privación arbitraria de libertad, tanto si se produce en la vida pública o privada” Declaración sobre la eliminación de la violencia contra la mujer. (Resolución de la Asamblea General 48/104 del 20 de diciembre de 1993) ONU
section.slide
  h2 Violencia de Género
  h3.slide Elementos Claves
  ul.slide
    li El factor de riesgo es ser mujer
    li Incluye agresiones físicas, psicológicas, sexuales, así como las amenazas de tales actos.
    li Estas agresiones pueden darse en el ámbito de lo público y en el ámbito de lo privado.
    li Su objetivo es mantener la subordinación de la mujer al hombre (“no busca destruir, eliminar”)
section.slide
  h2 Violencia de Género
  img.slide(src="/images/formula_violencia_de_genero.jpg")
  p.slide La Violencia contra las Mujeres es la Consecuencia de la Discriminación y el Desequilibrio de Poder entre Hombres y Mujeres en la Sociedad. 
  p.slide Fuente: Fórmulas para la Igualdad - Andalucía
section.slide
  h2 Violencia de Género
  h3.slide Tipos de Violencia de Género
  ul.slide
    li Psíquica
    li Física
    li Sexual
    li Social
    li Económica
section.slide
  h2 Violencia de Género
  h3 Voces de Mujeres Afectadas
  iframe(width="560", height="315", src="http://www.youtube.com/embed/z-0GJMmEY9U", frameborder="0", allowfullscreen)
section.slide
  h2 Violencia de Género
  h3 Voces de Mujeres Afectadas
  p Entrevista a una Mujer Víctima de Violencia Intrafamiliar - Perú
  iframe(width="420", height="315", src="http://www.youtube.com/embed/gkht080N-HU", frameborder="0", allowfullscreen)
  p Testimonio de Ascención M. Anguita, víctima de violencia de género - España
  iframe(width="420", height="315", src="http://www.youtube.com/embed/NVnx4oXir4s", frameborder="0", allowfullscreen)
section.slide
  h2 Violencia de Género
  h3 Voces de Mujeres Afectadas
  p HABLA! Qué puede decir el Silencio
  iframe(width="420", height="315", src="http://www.youtube.com/embed/Dy8qoo1feQQ", frameborder="0", allowfullscreen)
section.slide
  h2 Violencia de Género
  h3 Voces de las Mujeres Afectadas
  p Cortometraje Vive o Muere
  iframe(width="420", height="315", src="http://www.youtube.com/embed/SndmKXvB4lk", frameborder="0", allowfullscreen)
  p Comentarios sobre los Documentales
  iframe(width="420", height="315", src="http://www.youtube.com/embed/gM13mUSKTNw", frameborder="0", allowfullscreen)
section.slide
  h2 Violencia de Género
  h3 Violencia en el Conflicto Armado
  iframe(width="560", height="315", src="http://www.youtube.com/embed/Yc8STKwZgXU", frameborder="0", allowfullscreen)
section.slide
  h2 Violencia de Género
  h3 ¿Qué Sentirían Ellos?
  iframe(width="420", height="315", src="http://www.youtube.com/embed/3OHkiFlVWlo", frameborder="0", allowfullscreen)
section.slide
  h2.slide Arte Digital
  p.slide Arte Digital es una disciplina creativa que comprende obras en las que se utilizan elementos digitales en el proceso de producción y/o en su exhibición. 
  p.slide Este arte no son simples gráficos. No es dependiente sólo de técnicas y ecuaciones matemáticas expresadas en forma de imágenes, sino que es un arte humano, expresión de sensaciones, ideas, búsquedas personales, visiones en forma gráfica y expresadas usando un medio informático como  herramienta. (Técnicas ARTE DIGITAL POR LA PAZ, 2008)


