section.slide
  a(href="http://fcbosque.org")
    img(src="/images/header-logotype.jpg", style="margin-top:20px;float:right;")
  h2 Criptografia para seres humanos. Usando GPG y GNU/Linux
  hr
  h3 Daniel Aristizabal Romero [cronopio]
  h5 Laboratorio Tecnológico Fundación Casa del Bosque
  
  br
  
  p Esta presentacion esta disponible en la 
    a(href="http://fcbosque.jit.su") Plataforma de presentaciones de la Fundación Casa del Bosque 
    | junto a otras presentaciones muy interesantes.
  
  .sources
    h5
      a(href="mailto:aristizabal.daniel@gmail.com") aristizabal.daniel@gmail.com
      br
      a(href="http://gplus.to/cronopio") www.gplus.to/cronopio
      br
      a(href="http://twitter.com/cronopio2") @cronopio2
      br
      a(href="http://github.com/cronopio")
        img(src="/images/github.png", style="margin:10px")