section.slide
  a(href="http://fcbosque.org")
    img(src="/images/header-logotype.jpg", style="margin-top:20px;float:right;")
  h2 Sistemas de control de versiones: Git
  hr
  h3 Daniel Aristizabal Romero [cronopio]
  h5 Test lead engineer at Nodejitsu
  
  br
  
  p Esta presentacion es una página web, puedes usar el mouse o las flechas 
    | para moverte a través de los slides. Ingresa a 
    a(href="http://fcbosque.jit.su/git") fcbosque.jit.su/git
  p Esta disponible en la 
    a(href="http://fcbosque.jit.su") Plataforma de presentaciones de la Fundación Casa del Bosque 
    | junto a otras presentaciones muy interesantes.
  
  img(src="/images/git.jpg")

  .sources
    h5
      a(href="mailto:aristizabal.daniel@gmail.com") aristizabal.daniel@gmail.com
      br
      a(href="http://gplus.to/cronopio") www.gplus.to/cronopio
      br
      a(href="http://twitter.com/cronopio2") @cronopio2
      br
      a(href="http://github.com/cronopio")
        img(src="/images/github.png", style="margin:10px")

section.slide
  h1 Desarrollo de software?
section.slide
  h2 Sin control de versiones
  hr
  img(src="/images/devSincvs.gif", height="500px")
section.slide
  h1 Sistemas de control de versions
section.slide
  br
  br
  img(src="/images/control-versiones.jpg")
section.slide
  h1 Git
section.slide
  h2 Git
  hr
  ul
    li.slide Creado por Linus Torvalds
    li.slide Cambio entre versiones facilmente
    li.slide Distribuido
    li.slide Encaja perfecto en equipos pequeños y equipos grandes
    li.slide Muchas mas caractaresticas que los dejo que consulten
section.slide
  h1 Manos a la obra!
section.slide
  h2 Primera vez usando control de versiones
  hr
  img(src="/images/firstTime.gif", height="500px")
section.slide
  h2 Y aunque no lo crean, es dificil para algunos.
  hr
  img(src="/images/firstTime2.gif", height="500px")
section.slide
  h2 Como Empezar
  hr
  h3 Podemos inicializar un repositorio tan solo con
  blockquote git init
  br
  h3 Podemos clonar un reposotorio existente en otra maquina
  blockquote git clone URL

section.slide
  h1 git status
section.slide
  h2 Estados (Status) de archivos
  hr
  ul
    li.slide 
      b staged: 
      | Archivos listos para ser incluidos en commit.
    li.slide 
      b unstaged: 
      | Archivos modificados pero no incluidos en commit.
    li.slide
      b untracked:
      | Archivos sin seguimiento de Git. Normalmente indica archivos nuevos.
    li.slide
      b deleted: 
      | Archivos eliminados o esperando ser removidos de Git.

section.slide
  h1 staging zone
section.slide
  h2 Staging zone
  hr
  h2.slide git add
  h2.slide git diff
  h2.slide git commit
  h2.slide git reset
section.slide
  h2(style="margin-top:7em;font-size:2em;") git commit -m "[H4ckdo] Mi primer Commit"
section.slide
  h1 git log
section.slide
  h1 Ramas! (Branch)
section.slide
  h1 git branch
section.slide
  h1 git checkout
section.slide
  img(src="/images/git-workflow.png")
section.slide
  h1 Ramas Remotas  ¿0_0?
section.slide
  h1 git remote add
section.slide
  h1 git remote remove
section.slide
  h1 git pull
section.slide
  h2 git pull
  hr
  img(src="/images/pullHair.gif", height="500px")
section.slide
  h2 git pull
  hr
  img(src="/images/pullPig.jpg", height="500px")
section.slide
  h1 git push
section.slide
  h2 git push
  hr
  img(src="/images/pushButton.gif", height="500px")
section.slide
  h1 git push origin master
section.slide
  h2 git push origin master
  hr
  img(src="/images/learnCode.jpg", height="500px")