section.slide
  .slide
    img(src="/images/header-logotype.jpg", style="margin-top:30px; float:center;")
  .slide
    img(src="/images/jaruiz33/mozillacolombia.png", style="margin-top:50px; float:center;")
  .slide
    img(src="/images/jaruiz33/jaruiz33.jpg", style="margin-top:80px; float:center;")
    
section.slide
 .slide
  h2 Conociendo el Navegador 
  h2 Firefox: 
  h2 Navegación, Extensiones y Seguridad

section.slide
  .slide 	
     img(src="/images/jaruiz33/mozilla-firefox-large-logo-wallpaper.jpg", style="margin-top:20px; float:center;")

section.slide
  .slide 	
      img(src="/images/jaruiz33/mozillacolombia.png", style="margin-top:20px; float:left;")
  .slide  
    img(src="/images/jaruiz33/mozilla-reps.png", style="margin-top:20px; float:center;")
     
  h3.slide Jairo Ruiz
  h5.slide Voluntario Representante Oficial de Mozilla para Colombia
    .slide
      a(href="mailto:jairoruiz33@gmail.com") jairoruiz33@gmail.com
    .slide
      a(href="http://twitter.com/jaruiz33") @jaruiz33

section.slide
 .slide
  h2 HISTORIA
   h2.slide mozilla
   .slide
    img(src="/images/jaruiz33/mozilla-logo.png", style="margin-top:20px; float:left;")
   br
   br
   br
   br
   h2.slide firefox
   .slide
    img(src="/images/jaruiz33/Netscape-logo.png", style="margin-top:20px; float:left;")
   .slide
    img(src="/images/jaruiz33/firefox-logo.png", style="margin-top:20px; float:left;")
   br
   br
   br
   br
   br
   h2.slide mozilla colombia
   .slide
    img(src="/images/jaruiz33/mozillacolombia.png", style="margin-top:20px; float:left;")

section.slide
 h2.slide Firefox
 .slide
   img(src="/images/jaruiz33/nightly.png", style="margin-top:20px; float:left;")
   br
   br
   br
   br
 .slide
   img(src="/images/jaruiz33/aurora.png", style="margin-top:20px; float:left;")
   br
   br
   br
   br
 .slide
   img(src="/images/jaruiz33/beta.png", style="margin-top:20px; float:left;")
   br
   br
   br
   br
 .slide
   img(src="/images/jaruiz33/firefox-logo.png", style="margin-top:20px; float:left;")
   br
   br
   br
   br
 .slide
   img(src="/images/jaruiz33/addo-on.png", style="margin-top:20px; float:left;")  
 h3.slide add-ons
 h3.slide personas
 h3.slide temas

section.slide
 h1.slide Vamos a enchular Firefox

section.slide
 h2.slide Ahora si a lo BUENO
 ul 
  li.slide about:config
  li.slide y escribimos lo siguiente en el buscador
  li.slide browser.sessionstore.restore_on_demand = true
  li.slide browser.sessionstore.restore_pinned_tabs_on_demand = true
  li.slide network.http.pipelining = true
  li.slide network.http.proxy.pipelining = true
  li.slide network.http.pipelining.maxrequests = 8
  li.slide security.dialog_enable_delay = 0 
  li.slide browser.urlbar.clickSelectsAll = True o false 
  

section.slide
  h2.slide Otras vainas mas :)
  .slide
   h5 escribe el nombre de un sitio sin el “www” o el “.com”. Por ejemplo 
   h5 “google” Luego pulsa Control+Enter
  h2.slide voala !!
  h5.slide y automáticamente añadirá el “www” y el “.com” y te llevará ahí como por arte de magia. 
  h5.slide Para direcciones .net, pulsa Shift+Enter
  h5.slide para direcciones .org, pulsa Control+Shift+Enter. 
  h5.slide Ctrl+Tab : Va a la siguiente pestaña. –> 
  h5.slide Ctrl+Shift+Tab : Va a la anterior pestaña. <– 
  h5.slide Ctrl+1-9 : Va al numero de pestaña que elijas.
  h5.slide ¿Nunca les ha pasado que cierran una pestaña por error? 
  h5.slide Solución: CTRL + SHIFT + T

section.slide
  h2.slide vamonos a configurar cositas :)
  h2.slide ¿para que carajos es zync?
  h2.slide ¿sirve de algo esa cosa?

section.slide
  .slide
   h2 SI ANOTARON ALGO 
   h2 espero que si
  .slide
   h2 si algo para eso tengo 
   h2 la lista de sus correos :D

section.slide
 .slide 
  h2 Instalando los 
  h2 buenos add-ons 

section.slide
 .slide
  h2 Como el chocolate espeso
  h2 y con excelente sabor :D
 ul 
  li.slide Add-on Compatibility Reporter
  li.slide Add-on Builder Helper
  li.slide DownThemAll
  li.slide MP4 Downloader
  li.slide PDF Viewer
  li.slide SSLGuard
  li.slide Test Pilot
  li.slide FireFTP
  li.slide Flagfox
  li.slide Firebug
  li.slide BrowserProtect
  li.slide GitHub Notifier 
 
section.slide
 h1 ¿Quieres ayudarnos a mejorar?

section.slide
 h5.slide Primero entra a www.mozillacolombia.org y en la pagina de contactenos
 h5.slide Inscribete a nuestra lista de correo.
 .slide
  h5 puedes apoyarnos en proyectos que se estan desarrollando 
  h5 o aportar ideas en la lista de correo.
 h5.slide ¿por que la lista de correo?
 h5.slide mozilla colombia y jairo ruiz os dan un gran abrazo !!

section.slide
 h2.slide Listo TERMINAMOS !!!
 br
 br
 br
 br
 br
 br
 br
 br
 .slide
  h2 Felicidades
  h2 ya entiendes como manejar un poco mas
  h2 este gran navegador. 

section.slide
 .slide
  h2 GRACIAS POR ESTAR 
  h2 EN ESTE TALLER :)
 h3.slide se me olvidaba :D
 h3.slide No olvides seguir en twitter a
 .slide
      a(href="http://twitter.com/mozillacolombia") @mozillacolombia

section.slide
  .slide
   h2 Recuerden que este taller esta bajo licencia Creative Commons 
   h2 Reconocimiento-NoComercial-CompartirIgual 3.0 Unported License.
  .slide
   img(src="/images/jaruiz33/creativecommons.png", style="margin-top:20px; float:center;")
 
