section(class="slide")
  h1 Introduccion Node
  h2 Cronopio
  h3 Bienvenidos
  h4 Mas texto
  h5 Fundacion Casa del Bosque

section(class="slide")
  h1 Arquitectura cliente servidor
  h2 Cronopio
  h3 Bienvenidos
  ol
    li
      h3 IP
      p La IP es el identificador dentro de la red
    li
      h3 DNS
      p Sistema para la resolucion de nombres de dominio
  
section(class="slide")
  h1 Otro slide
  h2 Daniel
  h4 Mas texto
  h5 Fundacion Casa del Bosque
  