h1 Presentaciones FCBosque.
.table-box
  .table-fila
    .table-columna
      a(href="/nodejs")
        h2 Javascript del lado del servidor usando Node.js
        img(src="/images/cronopio_nodejs.png")
      h3 Daniel Aristizabal Romero
    .table-columna
      a(href="/web-dev")
        h2 La Web como plataforma de desarrollo.
        img(src="/images/arpunk_web_dev.png")
      h3 Ricardo Lanziano Meneses
