a(href="http://fcbosque.org")
  img(src="/images/header-logotype.jpg", style="padding:5px;")
h1 Presentaciones FCBosque.
.table-box
  .table-fila
    .table-columna
      a(href="/artedigital")
        h2 Arte Digital para la No Violencia Contra la Mujer
        img(src="/images/lili_artedigital.png")
      h3 Sonia Liliana Cruz
    .table-columna
      a(href="/nodejs")
        h2 Javascript del lado del servidor usando Node.js
        img(src="/images/cronopio_nodejs.png")
      h3 Daniel Aristizabal Romero
  .table-fila
    .table-columna
      a(href="/web-dev")
        h2 La Web como plataforma de desarrollo.
        img(src="/images/arpunk_web_dev.png")
      h3 Ricardo Lanziano Meneses
