!!!
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    title Charlas de la FCB

    meta(name='description', content='Presentaciones en linea de las diferentes charlas realizadas por la Fundación Casa del Bosque')
    meta(name='author', content='Fundación Casa del Bosque')
    meta(name='keywords', content='')

    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    != body
