!!!
html
  head
    meta(charset="utf-8")
    title Express uno de los frameworks para desarrollo web en NodeJS
    meta(name="viewport", content="width=1024, user-scalable=yes")
    link(rel="stylesheet", type="text/css", href="/stylesheets/flav/style.css")
    link(rel="stylesheet", href="/stylesheets/flav/horizontal-slide.css")
    link(rel="stylesheet", href="/stylesheets/flav/web-2.0.css")
    link(rel="icon", type="image/png", href="/images/favicon.png")
    script(src="/javascripts/modernizr.custom.js")
  body.deck-container
    .deck-remote-join-message
      p Hay una presentación disponible, desea ingresar a a verla?
      p.deck-remote-links
        a.deck-remote-ignore-link(href="#") Cancelar
        |
        a.deck-remote-join-link(href="#") Ingresar
    .deck-remote-leave-message
      p La presentación ha terminado
      p.deck-remote-links
        a.deck-remote-close-link(href="#") Cerrar
    .deck-remote-master-message
      p La clave es:
      p.deck-remote-master-feedback
        form.deck-remote-master-form(action="")
          p
            input.deck-remote-password(type="password")
          br
          p.deck-remote-links
            input(type="submit", value="Iniciar Sesión")
    != body
    a.deck-prev-link(title="Anterior", href="#") &#8592;
    a.deck-next-link(title="Siguiente", href="#") &#8594;
    p.deck-status
      span.deck-status-current
      /
      span.deck-status-total

  script(src="/javascripts/jquery-1.6.4.min.js")
  script(src="/javascripts/deck/deck.core.js")
  script(src="/javascripts/deck/deck.status.js")
  script(src="/javascripts/deck/deck.navigation.js")
  script(src="/javascripts/deck/deck.remote.js")
  script
    $(function() {
      $.deck(".slide");
      $.deck('.remote');
    });
