<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>La evolución de la web</title>
	
	<meta name="description" content="1er Encuentro de SoftwareLibre: CB, FABA y UDES">
	<meta name="author" content="Ricardo Lanziano">
	<meta name="viewport" content="width=1024, user-scalable=no">
	
	<!-- Core and extension CSS files -->
	<link rel="stylesheet" href="/stylesheets/deck/core/deck.core.css">
	<link rel="stylesheet" href="/stylesheets/deck/extensions/navigation/deck.navigation.css">
	<link rel="stylesheet" href="/stylesheets/deck/extensions/status/deck.status.css">
	<link rel="stylesheet" href="/stylesheets/deck/extensions/hash/deck.hash.css">
	<link rel="stylesheet" href="/stylesheets/deck/extensions/codemirror/deck.codemirror.css">
	<link rel="stylesheet" href="/stylesheets/deck/extensions/codemirror/themes/elegant.css">
	<link rel="icon" type="image/png" href="images/favicon.png">
  
	<!-- Custom CSS just for this page -->
	<link rel="stylesheet" href="/stylesheets/arpunk/horizontal-slide.css">
	<link rel="stylesheet" href="/stylesheets/arpunk/slides.css">
	
	<script src="/javascripts/modernizr.custom.js"></script>
</head>

<body class="deck-container">
  
<div class="slide" id="title-slide">
	<h1>La web como plataforma de desarrollo</h1>
	<ul>
  	<li class="slide" id="title-subheader">
  		<h3>Como han sucedido las cosas.</h3>
  	</li>
	</ul>
</div>

<div class="slide" id="whoami">
	<h2>Quién soy?</h2>
	<ul>
		<li class="slide" id="whoami-fundacion">
			<h3>Apoyo tecnológico de la Fundación casa del Bosque.</h3>
			<img src="images/header-logotype.jpg"/>
		</li>
		<li class="slide" id="whoami-node">
			<h3>Desarrollador de JavaScript desde finales 2010</h3>
		</li>
    <li class="slide" id="whoami-before">
      <h3>Sysadmin y demás</h3>
      <p>Plan 9, OpenSolaris, GNU/Linux, *BSD</p>
    </li>
		<li class="slide" id="whoami-oss">
		  <h3>BOB.js</h3>
		  <pre><code>Un módulo para usar Basic Open Bridge (BOB) en Node.js</code></pre>
		  <a href="http://github.com/arpunk/bob.js">http://github.com/arpunk/bob.js</a>
		</li>
	</ul>
</div>

<div class="slide" id="inicios">
	<h2>Inicios de la web</h2>
  <ul>
    <li class="slide" id="inicios-45"><pre><code>1945, Memex, de Vannevar Bush.</code></pre></li>
    <li class="slide" id="inicios-60"><pre><code>1960, El proyecto Xanadu.</code></pre></li>
    <li class="slide" id="inicios-82"><pre><code>1962, NLS (oN-Line System) fue publicado.</code></pre></li>
    <li class="slide" id="inicios-80"><pre><code>1980, Tim Berners-Lee del CERN construyó ENQUIRE.</code></pre></li>
    <li class="slide" id="inicios-89"><pre><code>1989, Tim Berners-Lee propuso un espacio global accedido mediante URIs.</code></pre></li>
    <li class="slide" id="inicios-90"><pre><code>1990, Tim Berners-Lee construyó las herramientas necesarias para una web funcional.</code></pre></li>
    <li class="slide" id="inicios-91"><pre><code>1991, Tim Berners-Lee anunció el proyecto World Wide Web en alt.hypertext.</code></pre></li>
  </ul>
  <div class="sources">
    <p>
      Fuentes:
      <a href="http://www.hitmill.com/internet/web_history.html">[1]</a>
      <a href="http://www.w3.org/History.html">[2]</a>
      <a href="http://www.w3.org/People/Berners-Lee/ShortHistory.html">[3]</a>
      <a href="http://en.wikipedia.org/wiki/History_of_the_World_Wide_Web">[4]</a>
      <a href="http://xanadu.com/">[5]</a>
      <a href="http://www.softwarepreservation.org/projects/nlsproject">[6]</a>
      <a href="http://adammikeal.com/courses/chi/files/jan26.bush.pdf">[7]</a>
    </p>
  </div>
</div>

<div class="slide" id="web-milestones">
	<h2>Los hitos de la web</h2>
  <ul>
		<li class="slide" id="web-milestones-92-95">
		  <h3>1992 - 1995</h3>
		  <p>Crecimiento de la WWW, navegadores iniciales, organización de la web.</p>
		</li>
		<li class="slide" id="web-milestones-96-98">
		  <h3>1996 - 1998</h3>
			<p>Comerzalicación de la WWW.</p>
		</li>
		<li class="slide" id="web-milestones-99-01">
			<h3>1999 - 2001</h3>
			<p>El boom del <b>"dot-com"</b> y su ruptura.</p>
		</li>
		<li class="slide" id="web-milestones-01-today">
			<h3>2002 - hoy</h3>
			<p>La web se vuelve obícua, la <i>web 2.0</i></p> 
		</li>
	</ul>
	<div class="sources">
  	<p>
  	  Fuentes: 
    	<a href="http://en.wikipedia.org/wiki/History_of_the_World_Wide_Web">[1]</a> 
  	</p>
  </div>
</div>

<div class="slide" id="eras">
	<h2>Las diferentes eras de la web</h2>
  <ul>
		<li class="slide"><h3>HTML</h3></li>
		<li class="slide"><h3>LAMP</h3></li>
		<li class="slide"><h3>JavaScript</h3></li>
	</ul>
	<br/><br/><br/><br/><br/>
	<div class="sources">
	  <p>
	    Fuentes: 
	    <a href="http://metamarketsgroup.com/blog/node-js-and-the-javascript-age/">[1]</a>
	  </p>
	</div>
</div>

<div class="slide" id="html-era">
  <h2>La era de HTML</h2>
  <p><img src="images/geocities-logotype.gif"/>Para la muestra, Geocities</p>
  <div class="sources"><a href="http://www.archive.org/web/geocities.php">http://www.archive.org/web/geocities.php</a></div><br/><br/>
  
  <p>Todo era sobre documentos, fieles a la visión original de Tim Berners-Lee de un "gran sistema de documentación virtual en el cielo."</p>
  <div class="sources">
	  <p>
	    Fuentes: 
	    <a href="http://metamarketsgroup.com/blog/node-js-and-the-javascript-age/">[1]</a>
	  </p>
	</div>
</div>

<div class="slide" id="lamp-era">
  <h2>La era de LAMP</h2>
  <p><img src="images/lamp-logotype.gif"/>"CGI, PHP, Ruby on Rails, or Django, the dominant pattern was populating an HTML template with database values."</p>
  <div class="sources"><a href=""></a></div><br/><br/>

  <p>Todo giraba al rededor de las bases de datos. En lugar de documentos, los stacks dominantes en la web eran LAMP o LAMP-like.</p>
  <div class="sources">
	  <p>
	    Fuentes: 
	    <a href="http://metamarketsgroup.com/blog/node-js-and-the-javascript-age/">[1]</a>
	  </p>
	</div>
</div>

<div class="slide" id="javascript-era">
  <h2>La era de JavaScript</h2>
  <p><img src="images/js-logotype.png"/>JS!</p>
  <div class="sources"><a href="http://nodejs.org">Y Node.JS!</a></div><br/><br/>

  <p>Lo importante son las corrientes de eventos. Páginas web modernas ya no son simples páginas, son aplicaciones orquestadas mediante eventos por los cuales la información se mueve.</p>
  <div class="sources">
	  <p>
	    Fuentes: 
	    <a href="http://metamarketsgroup.com/blog/node-js-and-the-javascript-age/">[1]</a>
	  </p>
	</div>
</div>

<div class="slide" id="resignificando-la-web">
  <h2>Resignificando la web</h2>
  <p>Reconocer esto significa:</p>
  <ul>
    <li class="slide" id="resignificando-la-web-vision">
      <p>Cambiar nuestra visión del servidor de ser un portador de documentos (HTML) o un renderizador de plantillas (LAMP), a una función en particular y a ser remitente de flujos de datos (JavaScript).</p>
    </li>
    <li class="slide" id="resignificando-la-web-barrera">
      <p>Traspasar la barrera del isoformísmo significa crear un numero de retos que los actuales patrones de diseño basados en MVC no solucionan.</p>
    </li>
    <li class="slide" id="resignificando-la-web-sobrestima">
      <p>No seguir subestimando la capacidad del los recursos técnicos del cliente.</p>
    </li>
  </ul>
  <div class="sources">
	  <p>
	    Fuentes: 
	    <a href="http://metamarketsgroup.com/blog/node-js-and-the-javascript-age/">[1]</a>
	  </p>
	</div>
</div>

<div class="slide" id="desarrollando-aplicaciones">
  <h1>Estamos desarrollando aplicaciones!</h1>
</div>

<div class="slide" id="quien-no-crea">
  <h2>Quien no crea...</h2>
  <div class="slide" id="pear-facepalm"><img src="images/picard-facepalm.jpg" /><h3 style="text-align:center">facepalm</div>
</div>

<div class="slide" id="importancia">
  <h2>Importancia de JavaScript</h2>
  <ul>
    <li class="slide" id="importancia-isomorfo">
      <h3>Isomorfo</h3>
      <p>ἴσος isos "igual" y μορφή morphe "forma"</p>
    </li>
    <li class="slide" id="importancia-multiparadigma">
      <h3>Multiparadigma</h3>
      <p>Orientado a objetos, imperativo o funcional.</p>
    </li>
    <li class="slide" id="importancia-protitipo">
      <h3>Basado en prototipos</h3>
      <p>Extender la clonación.</p>
    </li>
    <li class="slide" id="importancia-vm">
      <h3>VM's</h3>
      <p>Rhino, SpiderMonkey, JägerMonkey, IonMonkey, V8, Carakan, Nitro, KJS, Narcissus, Chakra, dyn.js, Nashorn, YAJI.</p>
    </li>
    <li class="slide" id="importancia-eventos">
      <h3>Eventos</h3>
      <p>Tanto el usuario como el sistema generan y reaccionan a <b>eventos</b>. La interacción con el usuario se consigue mediante la captura de los eventos que éste produce.</p>
    </li>
  </ul>
</div>

<div class="slide" id="importancia-2">
  <h1>Similar a como desarrollamos aplicaciones nativas</h1>
</div>

<div class="slide" id="pero-existen-apps-nativas">
  <h1>Ya existen apps nativas, ¿por qué no compilar y distribuir?</h1>
</div>

<div class="slide" id="problemas">
  <h2>¿Qué era un problema?</h2>
	<ul class="slide" id="problemas-lista">
	  <li><h3>Nivel de penetración de la web en la cotidianidad</h3></li>
    <li><h3>El unico lenguaje que es soportado en el navegador era para animar el documento ...</h3></li>
    <li><h3>... o para cambiar colores de los elementos del DOM ...</h3></li>
    <li><h3>... o para AJAX</h3></li>
	  <li><h3>Manejo de dependencias</h3></li>
    <li><h3>Accesibilidad a las herramientas</h3></li>
	</ul>
</div>

<div class="slide" id="sandboxing-the-sandbox">
  <h2>Sandbox</h2>
  <p>GUI</p>
  <ul>
    <li>Drag and Drop, Canvas 2D, WebGL, SVG</li>
    <li>Elementos de interacción con el usuario a.k.a GUI toolkits</li>
    <li>Dojo, jQuery, YUI, et al</li>
  </ul>
  <p>I/O</p>
  <ul>
    <li>Escritura de archivos y almacenamiento persistente.</li>
    <li>Comunicación bidireccional entre los clientes y el servidor.</li>
    <li>JS/Linux with persistent storage: <a href="http://stud.hro.nl/0814604/jslinuxdemo/emulator.html">http://stud.hro.nl/0814604/jslinuxdemo/emulator.html</a></li>
  </ul>
  <p>Plataforma</p>
  <ul>
    <li>Chrome, Safari, Firefox, Opera, IE, ...</li>
    <li>GNU/Linux, Solaris, Windows, Mac OS X, Android, iOS, Blackberry, ...</li>
    <li>PC, Móbil, casi que cualquier cosa con Internet hoy en día.</li>
    <li>Distribución de aplicaciones en caliente a.k.a multitenancy.</li>
  </ul>
  <div class="sources">
    <p>
      Fuentes:
      <a href="http://www.w3.org/TR/webdatabase/">[1]</a>
      <a href="http://www.w3.org/TR/webstorage/">[2]</a>
      <a href="http://www.w3.org/TR/IndexedDB/">[3]</a>
      <a href="http://www.w3.org/TR/FileAPI/">[4]</a>
      <a href="http://www.w3.org/TR/file-system-api/">[5]</a>
      <a href="http://www.w3.org/TR/file-writer-api/">[6]</a>
      <a href="http://dev.w3.org/html5/postmsg/">[7]</a>
      <a href="http://www.w3.org/TR/html5/">[8]</a>
  </div>
</div>

<div class="slide" id="suena-bien-no?">
  <h1>Suena bien, ¿no?</h1>
</div>

<div class="slide" id="patrones-de-arquitectura">
  <h2>Patrones de arquitectura</h2>
  <p>Entre los más usados en el desarrollo de software están:</p>
  <ul>
    <li class="slide" id="patrones-de-diseno-mvc"><code><pre><p>Model-View-Controller</p></pre></code></li>
    <li class="slide" id="patrones-de-diseno-m2"><code><pre><p>Model2</p></pre></code></li>
    <li class="slide" id="patrones-de-diseno-mvp"><code><pre><p>Model-View Presenter</p></pre></code></li>
    <li class="slide" id="patrones-de-diseno-mvvm"><code><pre><p>Model-View-ViewModel</p></pre></code></li>
  </ul>
  <div class="sources">
    <p>
      Fuentes:
      <a href="http://en.wikipedia.org/wiki/Architectural_pattern">[1]</a>
      <a href="http://ptgmedia.pearsoncmg.com/imprint_downloads/informit/chap2_0672324725.pdf">[2]</a>
      <a href="http://kasparov.skife.org/blog/src/java/mvc.html">[3]</a>
      <a href="http://www.wildcrest.com/Potel/Portfolio/mvp.pdf">[4]</a>
      <a href="http://code.google.com/intl/fr/webtoolkit/doc/latest/tutorial/mvp-architecture.html">[5]</a>
      <a href="http://www.wiley.com/WileyCDA/WileyTitle/productCd-0471958697.html">[6]</a>
  </div>
</div>

<div class="slide" id="implicaciones-realtime">
  <h2>Implicaciones para apps en tiempo real</h2>
  <ul>
    <li class="slide" id="implicaciones-realtime-mvc">Model-View-Controller: <b>Si</b></li>
    <li class="slide" id="implicaciones-realtime-m2">Model2: <b>No</b></li>
    <li class="slide" id="implicaciones-realtime-mvp">Model-View Presenter: <b>Si</b></li>
    <li class="slide" id="implicaciones-realtime-mvvm">Model-View-ViewModel: <b>Si</b></li>
    <li class="slide" id="implicaciones-realtime-conclusion-1"><code><pre><p>MVC, MVP y MVVM son modelos <b>aceptables</b> en client-side.</p></pre></code></li>
    <li class="slide" id="implicaciones-realtime-conclusion-2"><code><pre><p>¿Y para server-side?</p></pre></code></li>
  </ul>
  <div class="sources">
	  <p>
	    Fuentes: 
	    <a href="http://blog.nodejitsu.com/scaling-isomorphic-javascript-code">[1]</a>
      <a href="http://andrzejonsoftware.blogspot.com/2011/09/rails-is-not-mvc.html">[2]</a>
	  </p>
	</div>
</div>

<div class="slide" id="resource-view-presenter">
  <h2>Resource-View-Presenter</h2>
  <ul>
    <li class="slide" id="resource-view-presenter-who">Charlie "indexzero" Robbins @ <a href="http://nodejitsu.com">nodejitsu</a></li>
    <li class="slide" id="resource-view-presenter-why">"the MVC, MVP, and MVVM patterns will not work on both the client and the server."</li>
  </ul>
  <br/><br/><br/><br/><br/><br/>
  <div class="sources">
	  <p>
	    Fuentes: 
	    <a href="http://blog.nodejitsu.com/scaling-isomorphic-javascript-code">[1]</a>
	  </p>
	</div>
</div>

<div class="slide" id="ideas-para-web-apps">
  <h2>Algunas ideas</h2>
  <ul>
    <li class="slide" id="ideas-para-web-apps-offloading">Aplicación en cache del cliente a.k.a "offline mode".</li>
    <li class="slide" id="ideas-para-web-apps-patterns">Compartir las vistas en el cliente y en el servidor.</li>
    <li class="slide" id="ideas-para-web-apps-comms">Comunicación bidireccional mediante WebSockets entre multiples pares.</li>
    <li class="slide" id="ideas-para-web-apps-descentralized">Descentralizar las apps redefiniendo el papel del servidor web.</li>
  </ul>
</div>

<div class="slide" id="quien-no-siga-creyendo">
  <h2>Quien no siga creyendo...</h2>
  <div class="slide" id="nuget-facepalm"><img src="images/picard-double-facepalm.jpg" /><h3 style="text-align:center">double facepalm</h3></div>
</div>

<div class="slide" id="preguntas">
  <h1>
  ¿Preguntas?
  </h1>
</div>

<div class="slide" id="open-source">
  <h2>This presentation is Open Source software.</h2>
  <p>Partes de la plantilla la escribió <a href="http://github.com/indexzero/">Charlie Robbins</a></p>
  <ol>
    <li>
       All software is available under the MIT license. 
    </li>
    <li>
      All content is available under Creative Commons Share-Alike no-attribution commercial ok.
    </li>
    <li>
      Special thanks to Deck.js for making a killer open-source front-end: <a href="http://imakewebthings.github.com/deck.js">http://imakewebthings.github.com/deck.js</a>
    </li>
  <ol>
  <br/><br/>
  <h3><a style="margin-left:80px" href="http://fcbosque.nodejitsu.com">http://fcbosque.nodejitsu.com</a></h3>
</div>

<a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
<a href="#" class="deck-next-link" title="Next">&#8594;</a>

<p class="deck-status">
	<span class="deck-status-current"></span>
	/
	<span class="deck-status-total"></span>
</p>

<a href="." title="Permalink to this slide" class="deck-permalink">#</a>

<script src="javascripts/jquery.min.js"></script>

<!-- Deck Core and extensions -->
<script src="javascripts/deck/core/deck.core.js"></script>
<script src="javascripts/deck/extensions/status/deck.status.js"></script>
<script src="javascripts/deck/extensions/navigation/deck.navigation.js"></script>
<script src="javascripts/deck/extensions/hash/deck.hash.js"></script>
<script src="javascripts/deck/extensions/codemirror/deck.codemirror.js"></script>

<!-- Specific to this page -->
<script type="text/javascript">
  $(function() {
  	$.deck('.slide');
  });
</script>

</body>
</html>
