section.slide
  a(href="http://fcbosque.org")
    img(src="/images/header-logotype.jpg", style="margin-top:20px; float:right;")
    h2 Express uno de los frameworks para desarrollo web en NodeJS
    hr
    h3 Fabian Hernández Nieto
    h5 Laboratorio Tecnológico Fundación Casa del Bosque

