section.slide
  a(href="http://fcbosque.org")
    img(src="/images/header-logotype.jpg", style="margin-top:20px; float:right;")
  h2 Express uno de los frameworks para desarrollo web en NodeJS
  hr
  h3 Fabian Hernández Nieto
  h5 Laboratorio Tecnológico Fundación Casa del Bosque
  img(src="/images/express-main-img.jpg", style="margin-top: 30px;")
  .sources
    h5
      a(href="mailto:fhernandezn@gmail.com") fhernandezn@gmail.com
      br
      a(href="http://twitter.com/the_flavian") @the_flavian

section.slide
  h1 Frameworks para desarrollo Web en Node.JS?

section.slide
  h2 Existen varios sabores para diferentes gustos...
  hr
  ul 
    li Archetype
    li Blueprint
    li Coffeemate
    li Derby
    li Locomotive
    li Geddy
    li flatiron
    li express

section.slide
  h2 Que necesito...
  hr
  ul
    li git
    li Node.JS
    li NPM
